h1 {
	margin-top: 5px;
	color: #c68000;
	text-align: center;
	font-family: 'Mukta Vaani', sans-serif;
}

span {
	color: #818181;
}

text {
	font-family: 'Source Serif Pro', serif;
}

.map_title {
	display: block;
	margin-bottom: 50px;
}

.map {
	padding-top: 50px;
}

.container {  position: relative; }

.container:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-image: url('http://blogs.reuters.com/great-debate/files/2015/01/cuba-refugees-1024x640.jpg');
    opacity: 0.18;
}

.content {
    position: relative; 
    z-index: 2;
}​